:root{
    --DarkBlue: #1E1D4A;
    --Orange: #bc8341;
    --DarkGrey: #393939;
    --Beige: #eee6e2;
    --LightBlue: #5452c5;
    --BoostMeterBG: #0a091c;
}

.team{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:20px;
    width:300px;
    height:220px;
    top: 150px;
}

.left{
    left:0%;
}

.right{
    right:0%;
}