@import url('https://fonts.googleapis.com/css?family=Black Han Sans:400');

:root{
    --DarkBlue: #1E1D4A;
    --Orange: #bc8341;
    --DarkGrey: #393939;
    --Beige: #eee6e2;
    --LightBlue: #5452c5;
    --BoostMeterBG: #0a091c;
}

#root {
  width: 1920; /* need a fixed screen size */
  height:1080;
  margin-top:0px;
  padding: 0px;
}

body{
  margin:0px;
  padding: 0px;
}

.scorebug{
  top: 0px;
  left:50%;
  transform: translate(0,-50%);
}

.teams{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1920px;
}