.team {
    height: 25px;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left {
    right: 453px;
}

.right {
    left: 453px;
    /* directly line these up with the edge of the team names */
}

.bo7 {
    width: 90px;
}

.bo9 {
    width: 110px;
}

.bo5 {
    width: 70px;
}