:root{
    --DarkBlue: #1E1D4A;
    --Orange: #bc8341;
    --DarkGrey: #393939;
    --Beige: #eee6e2;
    --LightBlue: #5452c5;
    --BoostMeterBG: #0a091c;

}

.outerCircle {
	background: #ffffff;
	border-radius: 50%;
	height:15px;
	width:15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerCircle {
	border-radius: 50%;
	height:13px;
	width:13px;
}

.outerCircle.left{
    border: 2px solid var(--LightBlue);
}

.outerCircle.right{
    border: 2px solid var(--Orange);
}

.innerCircle.left{
    background: var(--LightBlue);
}

.innerCircle.right{
    background: var(--Orange);
}

